/* @font-face {
  font-family: "Jelly";
  font-display: block;
  src: url("https://yeemachine.github.io/kalidoface-live2d-models/Font/kalidoface-jelly.ttf") format("truetype");
}
h1 {
  font-family: "Jelly";
  font-size: 32px;
  color: white;
  position: absolute;
  top: -12px;
  left: 16px;
  font-weight: normal;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1:hover {
  color: #13a3f3;
}
a,
a:visited,
a:link {
  text-decoration: none;
  color: #222;
  display: inline-block;
}
a:hover,
a:visited:hover,
a:link:hover {
  color: #13a3f3;
  cursor: pointer;
}
.preview {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
}
video {
  max-width: 400px;
  height: auto;
  transform: scale(-1, 1);
}
.preview canvas {
  transform: scale(-1, 1);
}
body {
  margin: 0;
}
canvas {
  display: flex;
}
.guides {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
}
nav {
  position: absolute;
  top: 12px;
  right: 16px;
  display: flex;
}
nav img {
  width: 36px;
  height: auto;
  margin-left: 22px;
}
section {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px 0 16px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  color: white;
  z-index: 2;
}
p {
  color: white;
  padding: 8px 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
      sans-serif;
  margin: 0;
}
.preview a {
  border-radius: 24px;
  margin: 0 4px;
}
.preview a:hover {
  background: #ffffff20;
}
a.current {
  background: #13a3f3;
  pointer-events: none;
}

.linkOut {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: inline;
  color: black;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  video {
      max-width: 160px;
  }
} */






@import url('https://fonts.googleapis.com/css?family=Barlow:500');



html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;

  font-family: Barlow, sans-sarif;
  -webkit-font-smoothing: antialiased;
  position:relative;
  flex-direction: column;
  --primary: #4545CC;
  --secondary: #FFB800;
  --white: #FFFFFF;
  --gold: #FFF500;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  display: flex;
  position:relative;
  flex-direction: column;
  --primary: #4545CC;
  --secondary: #FFB800;
  --white: #FFFFFF;
  --gold: #FFF500;

  background-image: url('https://cdn.glitch.global/40a5d633-e9a4-4101-b267-6437f92dd8d8/1175581(1).jpg?v=1668646301994');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

  .btn-group button {
    border: solid var(--primary) 2px;
    color: var(--primary);
    fill: var(--primary);
    background: white;
    box-shadow: 4px 4px 0 var(--primary);
    height: 40px;  
    border-radius: 5px;
    transition: top 0.2s ease;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
    float: left;
    margin:5px;
  }
  
  .btn-group button:not(:last-child) {
  }
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:hover {
    background: var(--secondary);
    color: var(--primary);
    transform:scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
  }



* { box-sizing: border-box; }


h1 {
  color: var(--primary);
  font-size: 60px;
}

h1:hover {
  color: #13a3f3;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

p{
  text-size: 10px;
  line-height: 1.5;
  margin-left:20px;
  width:90%;
  text-align:center;
  overflow:hidden; 
  background:"#FFFFFF"
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: #222;
  display: inline-block;
}
a:hover,
a:visited:hover,
a:link:hover {
  color: #13a3f3;
  cursor: pointer;
}
.preview {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  right: 16px;
  overflow: hidden;
  border-radius: 12px;
  /* background: #FFB800; */
}
video {
  max-width: 400px;
  height: auto;
  border-radius: 12px;
  transform: scale(-1, 1);
}
.preview canvas {
  transform: scale(-1, 1);
  border-radius: 12px;
}

canvas {
  display: block;
}
.guides {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
}
nav {
  position: absolute;
  top: 12px;
  right: 16px;
  display: flex;
}
nav img {
  width: 36px;
  height: auto;
  margin-left: 22px;
}
section {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px 0 16px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  color: white;
  z-index: 2;
}
p {
  color: white;
  padding: 8px 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
      sans-serif;
  margin: 0;
}
.preview a {
  border-radius: 24px;
  margin: 0 4px;
}
.preview a:hover {
  background: #ffffff20;
}
a.current {
  background: #13a3f3;
  pointer-events: none;
}

.linkOut {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: inline;
  color: black;
  padding: 0;
}



@media only screen and (max-width: 600px) {
  video {
      max-width: 160px;
  }
} 
